{% extends 'dashboard-base.html' %}

{% load static %}

{% block content %} 

    {% if user.is_authenticated %}

        {% include 'blog/navbar.html' %}
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <!--Begin::Sidebar-->
                {% include 'blog/sidebar.html' %}
                <!--End::Sidebar-->
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                        <div class="container">
                            <div class="page-header-content pt-4">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-auto mt-4">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="edit-3"></i></div>
                                            Add new blog post
                                        </h1>
                                        <div class="page-header-subtitle">Make changes to your portfolio</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div class="container mt-n10">
                        <div class="row">
                            <div class="col-lg-8">
                                <!-- Default Bootstrap Form Controls-->
                                <div id="default">
                                    <div class="card mb-4">
                                        <div class="card-header">Add Post</div>
                                        <div class="card-body">
                                            <!-- Component Preview-->
                                            <div class="form-group">
                                                <form enctype='multipart/form-data' method="POST">
                                                    {% csrf_token %}
                                                    {{form.as_p}}
                                                    <input class="btn btn-primary" type="submit" value="Add Post">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 position-sticky">
                                <!-- Default Bootstrap Form Controls-->
                                <div id="default">
                                    <div class="card mb-4">
                                        <div class="card-header">Preview</div>
                                        <div class="card-body">
                                            <div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                {% include 'blog/footer.html' %}
            </div>
        </div>

    {% else %}

        {% include 'blog/401.html' %}

    {% endif %}


{% endblock content %}