{% extends 'dashboard-base.html' %}
{% load static %}

{% block content %}


    {% if user.is_authenticated %}
        <!--The navbar begins here-->
        {% include 'blog/navbar.html' %}
        <!--The navbar ends here-->

        <!--The side bar begins here-->
        <div id="layoutSidenav">
            
                <!--Begin::Sidebar-->
                {% include 'blog/sidebar.html' %}
                <!--End::Sidebar-->

            <!-- Main Content:: Begin-->
            <div id="layoutSidenav_content">
                <main>
                    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                        <div class="container">
                            <div class="page-header-content pt-4">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-auto mt-4">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="activity"></i></div>
                                            Welcome back, {{ request.user.first_name }} {{ request.user.last_name }}
                                        </h1>
                                        <div class="page-header-subtitle">It&apos;s time to get started! View new opportunities now</div>
                                    </div>
                                    <div class="col-12 col-xl-auto mt-4">
                                        <button class="btn btn-white btn-sm line-height-normal p-3" id="reportrange">
                                            <i class="mr-2 text-primary" data-feather="calendar"></i>
                                            <span></span>
                                            <i class="ml-1" data-feather="chevron-down"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div class="container mt-n10">
                        <!-- Example Colored Cards for Dashboard Demo-->
                        <div class="row">
                            <div class="col-xxl-3 col-lg-3">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="mr-3">
                                                <div class="text-white-75 small">Posts (Total)</div>
                                                <div class="text-lg font-weight-bold"> {{post_count}}</div>
                                            </div>
                                            <i class="feather-xl text-white-50" data-feather="message-circle"></i>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Posts</a>

                                      <!--{% for portfolio in object_list %}
                                            <a class="small text-white stretched-link" href="{% url 'portfolio-edit' portfolio.pk %}">Edit Portfolio</a>
                                        {% endfor %} -->  
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-3">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="mr-3">
                                                <div class="text-white-75 small">Comments (Total)</div>
                                                <div class="text-lg font-weight-bold">0</div>
                                            </div>
                                            <i class="feather-xl text-white-50" data-feather="message-square"></i>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Comments</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-3">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="mr-3">
                                                <div class="text-white-75 small">Page Views (Total)</div>
                                                <div class="text-lg font-weight-bold">215</div>
                                            </div>
                                            <i class="feather-xl text-white-50" data-feather="eye"></i>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Views</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xxl-3 col-lg-3">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="mr-3">
                                                <div class="text-white-75 small">Pending Requests</div>
                                                <div class="text-lg font-weight-bold">17</div>
                                            </div>
                                            <i class="feather-xl text-white-50" data-feather="clock"></i>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Requests</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Example Charts for Dashboard Demo-->
                    </div>
                </main>
                <!--Begin::Footer-->
                {% include 'blog/footer.html' %}
                <!--End::Footer-->
            </div>
            <!--Main COntent::End-->
        </div>
        <!--The Side bar ends here-->



    {% else %}
        
        {% include 'blog/401.html' %}
            
    {% endif %}




{% endblock content %}